/**
 * Settings form
 */
#settings {
	padding: 10px 0 10px;
	position: relative;
}

#settings .alertsContainer {
	display: none;
}

#settings form h3 {
	color: #6f6f6f;
	font-size: 160%;
	text-transform: uppercase;
	margin: 0;
	padding: 5px 0 5px 100px;
}

#settings form h4 {
	color: #6f6f6f;
	font-size: 120%;
	margin: 0;
	padding: 15px 0 20px 160px;
	clear: both;
}

#settings form ul {
	margin: 0;
	padding: 0;
}

#settings form .moodsContainer {
	border: 1px solid #c2c2c2;
	padding: 8px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#settings form ul.moods {
	padding: 10px 0 0 0;
}

#settings form ul li {
	list-style: none;
	margin: 0;
	padding: 1px 0;
	overflow: hidden;
}

#settings form ul .left {
	float: left;
	width: 150px;
	margin-right: -150px;
	padding: 4px 0;
}

#settings form ul .right {
	margin-left: 150px;
	padding: 4px 0 4px 10px;
	display: block;
	float: left;
}

#settings form ul .left input {
	float: right;
	height: 18px;
	margin: 0;
}

#settings form ul .right label {
	color: #6f6f6f;
	font-size: 120%;
	line-height: 18px;
	height: 18px;
}

#settings form ul .right .validate,
#settings form ul .right .validated,
#settings form ul .right .notValid {
	color: #6f6f6f;
	font-size: 120%;
	line-height: 18px;
	height: 18px;
	background: transparent url('../images/settings-icons.png') no-repeat 0px 0px;
	padding-left: 28px;
	margin-left: 10px;
}

#settings form ul .right .validated {
	background-position: 0px -18px;
}


#settings form ul .right .notValid {
	background-position: 0px -36px;
}

#settings form ul ul ul span {
	float: left;
	color: #6f6f6f;
	font-size: 120%;
	font-weight: bold;
	text-align: right;
	text-transform: uppercase;
	width: 150px;
	line-height: 25px;
	padding: 5px 5px 5px 0;
}

#settings form ul ul ul ul {
	float: left;
	padding: 0;
}

#settings form ul ul ul ul li {
	float: left;
	padding: 1px 2px 2px 1px;
}

#settings form ul ul ul ul li.selected {
	background: transparent url('../images/mood-bg.png') no-repeat;
}

#settings form ul.moods input {
	display: none;
}
#settings form ul.moods label {
	display: block;
	width: 32px;
	height: 32px;
	overflow: hidden;
	background-position: 0 0;
	background-repeat: no-repeat;
	text-indent: -1000px;
	margin: 0;
	padding: 0;
}

#settings form ul ul ul p {
	float: left;
	font-size: 120%;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 17px;
	padding: 9px 0;
	margin: 0;
	width: 500px;
}

#settings form ul ul ul input {
	margin: 5px 5px 5px 0;
	float: left;
	height: 25px;
}

#settings form ul ul ul label {
	float: left;
	font-size: 120%;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 25px;
	padding: 5px 0;
	margin: 0 10px 0 0;
	cursor: pointer;
}

#settings form .buttons {
	float: right;
	padding: 10px 0 0;
}

#settings form .buttons button {
	border: 1px solid #bfbfbf;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #cfcfcf url('../images/button-bg.png') repeat-x;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

#settings form .buttons button span {
	display: block;
	background-image: url('../images/button-icons.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	line-height: 28px;
	height: 28px;
	padding: 0 10px 0 28px;
	color: #6f6f6f;
	font-size: 100%;
	text-transform: uppercase;
}

#settings form .buttons button.save span {
	background-position: 0px 0px;
}

#settings form .buttons button.cancel span {
	background-position: 0px -28px;
}